.col {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  flex-wrap: wrap;
  padding: .8% 0;
}

.row{
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 .8%;
}



$nbcolonnes: 12;
$nbgut: $nbcolonnes + 1;
$lgut: 1.6%;
$lcol: (100% - ($nbgut * $lgut)) / $nbcolonnes;

img { //TODO remove this after grid
  display: block;
  max-width: 230px;
  max-height: 95px;
  width: auto;
  height: auto;
}

@media only screen and (max-width: 600px){
  @for $i from 1 through $nbcolonnes{
    $n : $i;
    .s#{$i} {
      width: $n * $lcol + ($n - 1) * $lgut;
      margin-left: $lgut;
      img {
        display: block;
        max-width:$n * $lcol + ($n - 1) * $lgut;
        max-height: 95px;
        width: auto;
        height: auto;
      }
    }
  }
}

@media only screen and (max-width: 1200px){
  @for $i from 1 through $nbcolonnes{
    $n : $i;
    .m#{$i} {
      width: $n * $lcol + ($n - 1) * $lgut;
      margin-left: $lgut;
      img {
        display: block;
        max-width:$n * $lcol + ($n - 1) * $lgut;
        max-height: 95px;
        width: auto;
        height: auto;
      }
    }
  }
}

@media only screen and (max-width: 1920px){
  @for $i from 1 through $nbcolonnes{
    $n : $i;
    .l#{$i} {
      width: $n * $lcol + ($n - 1) * $lgut;
      margin-left: $lgut;
      img {
        display: block;
        max-width:$n * $lcol + ($n - 1) * $lgut;
        max-height: 95px;
        width: auto;
        height: auto;
      }
    }
  }
}

@mixin grill($nbColGrill, $longGutGrill, $offsetCell, $largCell){
  $nbgut: $nbColGrill + 1;
  $lcol: (100% - ($nbgut * $longGutGrill)) / $nbColGrill;
  width: $largCell * $lcol + ($largCell - 1) * $longGutGrill;
  margin-left: $offsetCell * $lcol + ($offsetCell + 1) * $longGutGrill;

  //$colwidth: ((100% / $nbColGrill) * $largCell);
  //width: calc(#{$colwidth} - #{$longGutGrill});
  //margin-left: ((100% / $nbColGrill) * $offsetCell);
}