@charset "UTF-8";
.col {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  flex-wrap: wrap;
  padding: .8% 0; }

.row {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 .8%; }

img {
  display: block;
  max-width: 230px;
  max-height: 95px;
  width: auto;
  height: auto; }

@media only screen and (max-width: 600px) {
  .s1 {
    width: 6.6%;
    margin-left: 1.6%; }
    .s1 img {
      display: block;
      max-width: 6.6%;
      max-height: 95px;
      width: auto;
      height: auto; }

  .s2 {
    width: 14.8%;
    margin-left: 1.6%; }
    .s2 img {
      display: block;
      max-width: 14.8%;
      max-height: 95px;
      width: auto;
      height: auto; }

  .s3 {
    width: 23%;
    margin-left: 1.6%; }
    .s3 img {
      display: block;
      max-width: 23%;
      max-height: 95px;
      width: auto;
      height: auto; }

  .s4 {
    width: 31.2%;
    margin-left: 1.6%; }
    .s4 img {
      display: block;
      max-width: 31.2%;
      max-height: 95px;
      width: auto;
      height: auto; }

  .s5 {
    width: 39.4%;
    margin-left: 1.6%; }
    .s5 img {
      display: block;
      max-width: 39.4%;
      max-height: 95px;
      width: auto;
      height: auto; }

  .s6 {
    width: 47.6%;
    margin-left: 1.6%; }
    .s6 img {
      display: block;
      max-width: 47.6%;
      max-height: 95px;
      width: auto;
      height: auto; }

  .s7 {
    width: 55.8%;
    margin-left: 1.6%; }
    .s7 img {
      display: block;
      max-width: 55.8%;
      max-height: 95px;
      width: auto;
      height: auto; }

  .s8 {
    width: 64%;
    margin-left: 1.6%; }
    .s8 img {
      display: block;
      max-width: 64%;
      max-height: 95px;
      width: auto;
      height: auto; }

  .s9 {
    width: 72.2%;
    margin-left: 1.6%; }
    .s9 img {
      display: block;
      max-width: 72.2%;
      max-height: 95px;
      width: auto;
      height: auto; }

  .s10 {
    width: 80.4%;
    margin-left: 1.6%; }
    .s10 img {
      display: block;
      max-width: 80.4%;
      max-height: 95px;
      width: auto;
      height: auto; }

  .s11 {
    width: 88.6%;
    margin-left: 1.6%; }
    .s11 img {
      display: block;
      max-width: 88.6%;
      max-height: 95px;
      width: auto;
      height: auto; }

  .s12 {
    width: 96.8%;
    margin-left: 1.6%; }
    .s12 img {
      display: block;
      max-width: 96.8%;
      max-height: 95px;
      width: auto;
      height: auto; } }
@media only screen and (max-width: 1200px) {
  .m1 {
    width: 6.6%;
    margin-left: 1.6%; }
    .m1 img {
      display: block;
      max-width: 6.6%;
      max-height: 95px;
      width: auto;
      height: auto; }

  .m2 {
    width: 14.8%;
    margin-left: 1.6%; }
    .m2 img {
      display: block;
      max-width: 14.8%;
      max-height: 95px;
      width: auto;
      height: auto; }

  .m3 {
    width: 23%;
    margin-left: 1.6%; }
    .m3 img {
      display: block;
      max-width: 23%;
      max-height: 95px;
      width: auto;
      height: auto; }

  .m4 {
    width: 31.2%;
    margin-left: 1.6%; }
    .m4 img {
      display: block;
      max-width: 31.2%;
      max-height: 95px;
      width: auto;
      height: auto; }

  .m5 {
    width: 39.4%;
    margin-left: 1.6%; }
    .m5 img {
      display: block;
      max-width: 39.4%;
      max-height: 95px;
      width: auto;
      height: auto; }

  .m6 {
    width: 47.6%;
    margin-left: 1.6%; }
    .m6 img {
      display: block;
      max-width: 47.6%;
      max-height: 95px;
      width: auto;
      height: auto; }

  .m7 {
    width: 55.8%;
    margin-left: 1.6%; }
    .m7 img {
      display: block;
      max-width: 55.8%;
      max-height: 95px;
      width: auto;
      height: auto; }

  .m8 {
    width: 64%;
    margin-left: 1.6%; }
    .m8 img {
      display: block;
      max-width: 64%;
      max-height: 95px;
      width: auto;
      height: auto; }

  .m9 {
    width: 72.2%;
    margin-left: 1.6%; }
    .m9 img {
      display: block;
      max-width: 72.2%;
      max-height: 95px;
      width: auto;
      height: auto; }

  .m10 {
    width: 80.4%;
    margin-left: 1.6%; }
    .m10 img {
      display: block;
      max-width: 80.4%;
      max-height: 95px;
      width: auto;
      height: auto; }

  .m11 {
    width: 88.6%;
    margin-left: 1.6%; }
    .m11 img {
      display: block;
      max-width: 88.6%;
      max-height: 95px;
      width: auto;
      height: auto; }

  .m12 {
    width: 96.8%;
    margin-left: 1.6%; }
    .m12 img {
      display: block;
      max-width: 96.8%;
      max-height: 95px;
      width: auto;
      height: auto; } }
@media only screen and (max-width: 1920px) {
  .l1 {
    width: 6.6%;
    margin-left: 1.6%; }
    .l1 img {
      display: block;
      max-width: 6.6%;
      max-height: 95px;
      width: auto;
      height: auto; }

  .l2 {
    width: 14.8%;
    margin-left: 1.6%; }
    .l2 img {
      display: block;
      max-width: 14.8%;
      max-height: 95px;
      width: auto;
      height: auto; }

  .l3 {
    width: 23%;
    margin-left: 1.6%; }
    .l3 img {
      display: block;
      max-width: 23%;
      max-height: 95px;
      width: auto;
      height: auto; }

  .l4 {
    width: 31.2%;
    margin-left: 1.6%; }
    .l4 img {
      display: block;
      max-width: 31.2%;
      max-height: 95px;
      width: auto;
      height: auto; }

  .l5 {
    width: 39.4%;
    margin-left: 1.6%; }
    .l5 img {
      display: block;
      max-width: 39.4%;
      max-height: 95px;
      width: auto;
      height: auto; }

  .l6 {
    width: 47.6%;
    margin-left: 1.6%; }
    .l6 img {
      display: block;
      max-width: 47.6%;
      max-height: 95px;
      width: auto;
      height: auto; }

  .l7 {
    width: 55.8%;
    margin-left: 1.6%; }
    .l7 img {
      display: block;
      max-width: 55.8%;
      max-height: 95px;
      width: auto;
      height: auto; }

  .l8 {
    width: 64%;
    margin-left: 1.6%; }
    .l8 img {
      display: block;
      max-width: 64%;
      max-height: 95px;
      width: auto;
      height: auto; }

  .l9 {
    width: 72.2%;
    margin-left: 1.6%; }
    .l9 img {
      display: block;
      max-width: 72.2%;
      max-height: 95px;
      width: auto;
      height: auto; }

  .l10 {
    width: 80.4%;
    margin-left: 1.6%; }
    .l10 img {
      display: block;
      max-width: 80.4%;
      max-height: 95px;
      width: auto;
      height: auto; }

  .l11 {
    width: 88.6%;
    margin-left: 1.6%; }
    .l11 img {
      display: block;
      max-width: 88.6%;
      max-height: 95px;
      width: auto;
      height: auto; }

  .l12 {
    width: 96.8%;
    margin-left: 1.6%; }
    .l12 img {
      display: block;
      max-width: 96.8%;
      max-height: 95px;
      width: auto;
      height: auto; } }
body, html {
  height: 100%;
  margin: 0; }

body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background: url("../img/boitelogin.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed; }
  body header div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1% 1%; }
    body header div.headercatalogue h3 {
      margin: auto; }
      @media only screen and (max-width: 600px) {
        body header div.headercatalogue h3 {
          width: 14.8%;
          margin-left: 1.6%;
          display: flex;
          flex-direction: column;
          clear: both;
          box-sizing: border-box;
          margin-bottom: 2%; } }
      @media only screen and (min-width: 601px) and (max-width: 1200px) {
        body header div.headercatalogue h3 {
          width: 14.8%;
          margin-left: 1.6%;
          display: flex;
          flex-direction: column;
          clear: both;
          box-sizing: border-box;
          margin-bottom: 2%; } }
      @media only screen and (min-width: 1201px) {
        body header div.headercatalogue h3 {
          width: 14.8%;
          margin-left: 1.6%;
          display: flex;
          flex-direction: column;
          clear: both;
          box-sizing: border-box;
          margin-bottom: 2%; } }
    @media only screen and (max-width: 600px) {
      body header div.headercatalogue a {
        width: 6.6%;
        margin-left: 1.6%;
        display: flex;
        flex-direction: column;
        clear: both;
        box-sizing: border-box;
        margin-bottom: 2%; } }
    @media only screen and (min-width: 601px) and (max-width: 1200px) {
      body header div.headercatalogue a {
        width: 6.6%;
        margin-left: 1.6%;
        display: flex;
        flex-direction: column;
        clear: both;
        box-sizing: border-box;
        margin-bottom: 2%; } }
    @media only screen and (min-width: 1201px) {
      body header div.headercatalogue a {
        width: 6.6%;
        margin-left: 1.6%;
        display: flex;
        flex-direction: column;
        clear: both;
        box-sizing: border-box;
        margin-bottom: 2%; } }
    body header div.headercatalogue input {
      height: 30px;
      border-radius: 3px;
      background-color: #E5E9F2;
      border: transparent none 0;
      padding: 1%; }
      @media only screen and (max-width: 600px) {
        body header div.headercatalogue input {
          width: 88.6%;
          margin-left: 1.6%;
          display: flex;
          flex-direction: column;
          clear: both;
          box-sizing: border-box;
          margin-bottom: 2%; } }
      @media only screen and (min-width: 601px) and (max-width: 1200px) {
        body header div.headercatalogue input {
          width: 88.6%;
          margin-left: 1.6%;
          display: flex;
          flex-direction: column;
          clear: both;
          box-sizing: border-box;
          margin-bottom: 2%; } }
      @media only screen and (min-width: 1201px) {
        body header div.headercatalogue input {
          width: 88.6%;
          margin-left: 1.6%;
          display: flex;
          flex-direction: column;
          clear: both;
          box-sizing: border-box;
          margin-bottom: 2%; } }
    body header div.headercatalogue button {
      height: 30px;
      border-radius: 3px;
      background-color: #E5E9F2;
      border: transparent none 0;
      cursor: pointer; }
      body header div.headercatalogue button img {
        max-width: 100%;
        max-height: 100%;
        margin: auto 0; }
      @media only screen and (max-width: 600px) {
        body header div.headercatalogue button {
          width: 6.6%;
          margin-left: 1.6%;
          display: flex;
          flex-direction: column;
          clear: both;
          box-sizing: border-box;
          margin-bottom: 2%; } }
      @media only screen and (min-width: 601px) and (max-width: 1200px) {
        body header div.headercatalogue button {
          width: 6.6%;
          margin-left: 1.6%;
          display: flex;
          flex-direction: column;
          clear: both;
          box-sizing: border-box;
          margin-bottom: 2%; } }
      @media only screen and (min-width: 1201px) {
        body header div.headercatalogue button {
          width: 6.6%;
          margin-left: 1.6%;
          display: flex;
          flex-direction: column;
          clear: both;
          box-sizing: border-box;
          margin-bottom: 2%; } }
    body header div.headerlogin {
      background-color: rgba(17, 162, 255, 0.24);
      height: 20px; }
  body section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1% 1%;
    height: 100%; }
    body section div.categories {
      height: 5%;
      background-color: #11a2ff; }
      @media only screen and (max-width: 600px) {
        body section div.categories {
          width: 98%;
          margin-left: 1%;
          display: flex;
          flex-direction: column;
          clear: both;
          box-sizing: border-box;
          margin-bottom: 2%; } }
      @media only screen and (min-width: 601px) and (max-width: 1200px) {
        body section div.categories {
          width: 98%;
          margin-left: 1%;
          display: flex;
          flex-direction: column;
          clear: both;
          box-sizing: border-box;
          margin-bottom: 2%; } }
      @media only screen and (min-width: 1201px) {
        body section div.categories {
          width: 98%;
          margin-left: 1%;
          display: flex;
          flex-direction: column;
          clear: both;
          box-sizing: border-box;
          margin-bottom: 2%; } }
      body section div.categories form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%; }
        body section div.categories form button {
          border: transparent none 0;
          background: rgba(17, 162, 255, 0.24);
          cursor: pointer;
          height: auto;
          margin-bottom: 0; }
          @media only screen and (max-width: 600px) {
            body section div.categories form button {
              width: 50%;
              margin-left: 0%;
              display: flex;
              flex-direction: column;
              clear: both;
              box-sizing: border-box;
              margin-bottom: 2%;
              font-size: 1.3em; } }
          @media only screen and (min-width: 601px) and (max-width: 1200px) {
            body section div.categories form button {
              width: 33.33333%;
              margin-left: 0%;
              display: flex;
              flex-direction: column;
              clear: both;
              box-sizing: border-box;
              margin-bottom: 2%;
              font-size: 1.3em; } }
          @media only screen and (min-width: 1201px) {
            body section div.categories form button {
              width: 14.28571%;
              margin-left: 0%;
              display: flex;
              flex-direction: column;
              clear: both;
              box-sizing: border-box;
              margin-bottom: 2%;
              font-size: 1em;
              margin-bottom: 0; } }
          body section div.categories form button:hover {
            color: white;
            background-color: midnightblue; }
    body section div.prestation {
      min-height: 15%;
      background-color: #F9FAFC;
      text-align: center; }
      @media only screen and (max-width: 600px) {
        body section div.prestation {
          width: 31.2%;
          margin-left: 1.6%;
          display: flex;
          flex-direction: column;
          clear: both;
          box-sizing: border-box;
          margin-bottom: 2%; } }
      @media only screen and (min-width: 601px) and (max-width: 1200px) {
        body section div.prestation {
          width: 23%;
          margin-left: 1.6%;
          display: flex;
          flex-direction: column;
          clear: both;
          box-sizing: border-box;
          margin-bottom: 2%; } }
      @media only screen and (min-width: 1201px) {
        body section div.prestation {
          width: 14.8%;
          margin-left: 1.6%;
          display: flex;
          flex-direction: column;
          clear: both;
          box-sizing: border-box;
          margin-bottom: 2%; } }
      body section div.prestation:hover {
        background-color: #E5E9F2; }
      body section div.prestation img {
        max-width: 50%;
        height: auto;
        margin: 0 auto;
        display: block; }
      body section div.prestation a {
        margin: auto 2%;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer; }
      body section div.prestation p {
        margin: auto 2%; }
        body section div.prestation p:after {
          content: " €"; }
      body section div.prestation form button {
        background-color: #77D353;
        width: 100%;
        height: 50px;
        border: transparent none 0; }
        body section div.prestation form button:hover {
          background-color: #63AD46;
          cursor: pointer; }
    body section div.profile {
      min-height: 15%;
      background-color: #F9FAFC;
      text-align: center; }
      @media only screen and (max-width: 600px) {
        body section div.profile {
          width: 31.2%;
          margin-left: 1.6%;
          display: flex;
          flex-direction: column;
          clear: both;
          box-sizing: border-box;
          margin-bottom: 2%; } }
      @media only screen and (min-width: 601px) and (max-width: 1200px) {
        body section div.profile {
          width: 23%;
          margin-left: 1.6%;
          display: flex;
          flex-direction: column;
          clear: both;
          box-sizing: border-box;
          margin-bottom: 2%; } }
      @media only screen and (min-width: 1201px) {
        body section div.profile {
          width: 14.8%;
          margin-left: 1.6%;
          display: flex;
          flex-direction: column;
          clear: both;
          box-sizing: border-box;
          margin-bottom: 2%; } }
      body section div.profile:hover {
        background-color: #E5E9F2; }
      body section div.profile h1 {
        text-align: center; }
    body section div.login {
      background-color: rgba(17, 162, 255, 0.24);
      border-radius: 5px;
      height: auto;
      margin-top: 10%; }
      @media only screen and (max-width: 600px) {
        body section div.login {
          width: 57.44%;
          margin-left: 21.28%;
          display: flex;
          flex-direction: column;
          clear: both;
          box-sizing: border-box;
          margin-bottom: 2%; } }
      @media only screen and (min-width: 601px) and (max-width: 1200px) {
        body section div.login {
          width: 31.2%;
          margin-left: 34.4%;
          display: flex;
          flex-direction: column;
          clear: both;
          box-sizing: border-box;
          margin-bottom: 2%; } }
      @media only screen and (min-width: 1201px) {
        body section div.login {
          width: 23%;
          margin-left: 1.6%;
          display: flex;
          flex-direction: column;
          clear: both;
          box-sizing: border-box;
          margin-bottom: 2%; } }
      body section div.login img {
        border-radius: 100%;
        position: relative;
        bottom: 20px;
        margin: 0 auto; }
        @media only screen and (max-width: 600px) {
          body section div.login img {
            width: 40%;
            min-height: auto; } }
        @media only screen and (min-width: 1201px) {
          body section div.login img {
            width: 50%;
            min-height: 150px; } }
      body section div.login form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 2%; }
        body section div.login form div {
          width: 100%;
          margin-left: 0%;
          display: flex;
          flex-direction: column;
          clear: both;
          box-sizing: border-box;
          margin-bottom: 2%; }
          body section div.login form div input {
            width: 80%;
            margin-left: 10%;
            display: flex;
            flex-direction: column;
            clear: both;
            box-sizing: border-box;
            margin-bottom: 2%;
            border-radius: 5px;
            height: 30px;
            border: transparent none 0;
            padding: .5% 1.5%; }
        body section div.login form button {
          width: 33.33333%;
          margin-left: 33.33333%;
          display: flex;
          flex-direction: column;
          clear: both;
          box-sizing: border-box;
          margin-bottom: 2%;
          background-color: rgba(0, 255, 116, 0.7);
          border: transparent none 0;
          border-radius: 5px;
          cursor: pointer;
          height: 35px;
          padding: 10px;
          text-align: center; }
          body section div.login form button:hover {
            background-color: #63AD46; }
        body section div.login form a {
          width: 50%;
          margin-left: 0%;
          display: flex;
          flex-direction: column;
          clear: both;
          box-sizing: border-box;
          margin-bottom: 2%;
          font-size: 12px;
          color: #FFFFFF;
          text-decoration: none; }
          body section div.login form a:nth-of-type(2) {
            text-align: right; }
    body section div.item-cart {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      background-color: #F9FAFC;
      height: 23%; }
      @media only screen and (max-width: 600px) {
        body section div.item-cart {
          width: 96.8%;
          margin-left: 1.6%;
          display: flex;
          flex-direction: column;
          clear: both;
          box-sizing: border-box;
          margin-bottom: 2%; } }
      @media only screen and (min-width: 601px) and (max-width: 1200px) {
        body section div.item-cart {
          width: 96.8%;
          margin-left: 1.6%;
          display: flex;
          flex-direction: column;
          clear: both;
          box-sizing: border-box;
          margin-bottom: 2%; } }
      @media only screen and (min-width: 1201px) {
        body section div.item-cart {
          width: 96.8%;
          margin-left: 1.6%;
          display: flex;
          flex-direction: column;
          clear: both;
          box-sizing: border-box;
          margin-bottom: 2%; } }
      body section div.item-cart:hover {
        background-color: #E5E9F2; }
      body section div.item-cart picture {
        display: inline-block;
        width: 16.66667%;
        margin-left: 0%;
        display: flex;
        flex-direction: column;
        clear: both;
        box-sizing: border-box;
        margin-bottom: 2%;
        height: auto;
        margin-bottom: 0; }
        body section div.item-cart picture img {
          max-width: 80%;
          min-height: auto;
          display: block; }
      body section div.item-cart div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 0px;
        padding: 1%; }
        @media only screen and (max-width: 600px) {
          body section div.item-cart div {
            width: 64%;
            margin-left: 1.6%;
            display: flex;
            flex-direction: column;
            clear: both;
            box-sizing: border-box;
            margin-bottom: 2%; } }
        @media only screen and (min-width: 601px) and (max-width: 1200px) {
          body section div.item-cart div {
            width: 64%;
            margin-left: 1.6%;
            display: flex;
            flex-direction: column;
            clear: both;
            box-sizing: border-box;
            margin-bottom: 2%; } }
        @media only screen and (min-width: 1201px) {
          body section div.item-cart div {
            width: 31.2%;
            margin-left: 1.6%;
            display: flex;
            flex-direction: column;
            clear: both;
            box-sizing: border-box;
            margin-bottom: 2%; } }
        body section div.item-cart div h2 {
          font-weight: bold;
          width: 33.33333%;
          margin-left: 0%;
          display: flex;
          flex-direction: column;
          clear: both;
          box-sizing: border-box;
          margin-bottom: 2%;
          margin: 0; }
        body section div.item-cart div p {
          width: 33.33333%;
          margin-left: 0%;
          display: flex;
          flex-direction: column;
          clear: both;
          box-sizing: border-box;
          margin-bottom: 2%;
          font-size: .7em;
          margin: 0; }
        body section div.item-cart div:nth-of-type(2) {
          margin: 0; }
          @media only screen and (max-width: 600px) {
            body section div.item-cart div:nth-of-type(2) {
              width: 14.8%;
              margin-left: 1.6%;
              display: flex;
              flex-direction: column;
              clear: both;
              box-sizing: border-box;
              margin-bottom: 2%; } }
          @media only screen and (min-width: 601px) and (max-width: 1200px) {
            body section div.item-cart div:nth-of-type(2) {
              width: 14.8%;
              margin-left: 1.6%;
              display: flex;
              flex-direction: column;
              clear: both;
              box-sizing: border-box;
              margin-bottom: 2%; } }
          @media only screen and (min-width: 1201px) {
            body section div.item-cart div:nth-of-type(2) {
              width: 14.8%;
              margin-left: 1.6%;
              display: flex;
              flex-direction: column;
              clear: both;
              box-sizing: border-box;
              margin-bottom: 2%; } }
          body section div.item-cart div:nth-of-type(2) p:nth-of-type(1) {
            width: 100%;
            margin-left: 0%;
            display: flex;
            flex-direction: column;
            clear: both;
            box-sizing: border-box;
            margin-bottom: 2%;
            margin: auto; }
            body section div.item-cart div:nth-of-type(2) p:nth-of-type(1):before {
              content: "Cantité: "; }
          body section div.item-cart div:nth-of-type(2) p:nth-of-type(2) {
            width: 100%;
            margin-left: 0%;
            display: flex;
            flex-direction: column;
            clear: both;
            box-sizing: border-box;
            margin-bottom: 2%;
            margin: auto; }
            body section div.item-cart div:nth-of-type(2) p:nth-of-type(2):after {
              content: " €"; }
        body section div.item-cart div:nth-of-type(3) {
          width: 16.66667%;
          margin-left: 0%;
          display: flex;
          flex-direction: column;
          clear: both;
          box-sizing: border-box;
          margin-bottom: 2%;
          margin: 0; }
          body section div.item-cart div:nth-of-type(3) form {
            margin: auto; }
            body section div.item-cart div:nth-of-type(3) form button {
              margin: auto; }
      body section div.item-cart.loginMsg {
        position: relative;
        bottom: 300px;
        font-size: 5em;
        color: #FFFFFF; }
        @media only screen and (max-width: 600px) {
          body section div.item-cart.loginMsg {
            display: none; } }
        @media only screen and (min-width: 601px) and (max-width: 1200px) {
          body section div.item-cart.loginMsg {
            display: none; } }
        @media only screen and (min-width: 1201px) {
          body section div.item-cart.loginMsg {
            width: 31.2%;
            margin-left: 67.2%;
            display: flex;
            flex-direction: column;
            clear: both;
            box-sizing: border-box;
            margin-bottom: 2%; } }
      body section div.item-cart.signUp {
        background-color: rgba(17, 162, 255, 0.24);
        border-radius: 5px;
        height: auto;
        margin-top: 10%; }
        @media only screen and (max-width: 600px) {
          body section div.item-cart.signUp {
            width: 57.44%;
            margin-left: 21.28%;
            display: flex;
            flex-direction: column;
            clear: both;
            box-sizing: border-box;
            margin-bottom: 2%; } }
        @media only screen and (min-width: 601px) and (max-width: 1200px) {
          body section div.item-cart.signUp {
            width: 31.2%;
            margin-left: 34.4%;
            display: flex;
            flex-direction: column;
            clear: both;
            box-sizing: border-box;
            margin-bottom: 2%; } }
        @media only screen and (min-width: 1201px) {
          body section div.item-cart.signUp {
            width: 23%;
            margin-left: 1.6%;
            display: flex;
            flex-direction: column;
            clear: both;
            box-sizing: border-box;
            margin-bottom: 2%; } }
        body section div.item-cart.signUp img {
          border-radius: 100%;
          position: relative;
          bottom: 20px;
          margin: 0 auto; }
          @media only screen and (max-width: 600px) {
            body section div.item-cart.signUp img {
              width: 40%;
              min-height: auto; } }
          @media only screen and (min-width: 1201px) {
            body section div.item-cart.signUp img {
              width: 50%;
              min-height: 150px; } }
        body section div.item-cart.signUp form {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          padding: 2%; }
          body section div.item-cart.signUp form div {
            width: 100%;
            margin-left: 0%;
            display: flex;
            flex-direction: column;
            clear: both;
            box-sizing: border-box;
            margin-bottom: 2%; }
            body section div.item-cart.signUp form div input {
              width: 80%;
              margin-left: 10%;
              display: flex;
              flex-direction: column;
              clear: both;
              box-sizing: border-box;
              margin-bottom: 2%;
              border-radius: 5px;
              height: 30px;
              border: transparent none 0;
              padding: .5% 1.5%; }
          body section div.item-cart.signUp form button {
            width: 33.33333%;
            margin-left: 33.33333%;
            display: flex;
            flex-direction: column;
            clear: both;
            box-sizing: border-box;
            margin-bottom: 2%;
            background-color: rgba(0, 255, 116, 0.7);
            border: transparent none 0;
            border-radius: 5px;
            cursor: pointer;
            height: 35px;
            padding: 10px;
            text-align: center; }
            body section div.item-cart.signUp form button:hover {
              background-color: #63AD46; }
          body section div.item-cart.signUp form a {
            width: 50%;
            margin-left: 0%;
            display: flex;
            flex-direction: column;
            clear: both;
            box-sizing: border-box;
            margin-bottom: 2%;
            font-size: 12px;
            color: #FFFFFF;
            text-decoration: none; }
            body section div.item-cart.signUp form a:nth-of-type(2) {
              text-align: right; }

/*# sourceMappingURL=style.css.map */
